/* Set Images Properly with max-width */
img {
  max-width: 100%; /* [1] */
  height: auto; /* [1] */
  vertical-align: middle; /* [2] */
  font-style: italic; /* [3] */
  background-repeat: no-repeat; /* [4] */
  background-size: cover; /* [4] */
  shape-margin: 0.75rem; /* [5] */
}

.container {
  /* background-color: #f1f1f1;
  display: flex;
  justify-content: center; */
  background-color: #00aeff;
}

.wrapper {
  min-block-size: 25ch;
  inline-size: 100%;
  max-inline-size: 1200px;
  padding: 0 2rem;
  margin-inline: auto;
}

header {
  padding: 2rem 0;
}

/* .slackUsername[data-slack-user-name="friendz"] {
  background-color: tomato;
  padding: 8px;
} */

.flex-boy {
  display: flex;
  justify-content: space-between;
}

section {
  padding: 2rem 0;
  background-color: #fff;
  
}
